


/*

*/

	/*HIDE JSSOR SLIDER UNTIL FULLY LOADED*/
	#slider1_container {
		/*visibility:hidden; Use visibility to keep a blank placeholder*/
		display:none;
	}

	html,
	button,
	input,
	select,
	textarea { color: #222; }

	html {
		    font-size: 1em;
		    line-height: 1.4;
		}

	::-moz-selection {
		    background: #b3d4fc;
		    text-shadow: none;
		}

	::selection {
		    background: #b3d4fc;
		    text-shadow: none;
		}

	hr {
		    display: block;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid #ccc;
		    margin: 1em 0;
		    padding: 0;
		}

	audio,
	canvas,
	img,
	video { vertical-align: middle; }

	fieldset {
		    border: 0;
		    margin: 0;
		    padding: 0;
		}

	textarea { resize: vertical; }

	.browsehappy {
		    margin: 0.2em 0;
		    background: #ccc;
		    color: #000;
		    padding: 0.2em 0;
		}

	a { text-decoration:none; }

	h1,
	h2,
	h3,
	h4  {
		font-family: 'Changa One', cursive;
	}

	nav a, 
	aside h4 {
		font-family: 'Lobster', cursive;
	}

	.title a,
	nav a,
	nav a:hover,
	nav a:visited,
	h1, h2, h3, h4 {
		color: darkorange;
		text-shadow: 1px 1px 1px black;
	}

	p {
		text-align:justify;
		font-family: 'Merriweather', serif;
	}

	iframe { border:none; }

	header h2 { margin-top: 0; }


	body { font: 16px/26px Helvetica, Helvetica Neue, Arial; }

	.wrapper {
		    width: 90%;
		    margin: 0 5%;
		}

	.header-container { border-bottom: 20px solid #e44d26; }

	.footer-container,
	.main aside { border-top: 20px solid #e44d26; }

	.header-container,
	.footer-container,
	.main aside { background: #f16529; }

	.footer-container { margin-top: 50px; }
	

/* ============== NAVIGATION ============== */

	nav ul {
		    margin: 0;
		    padding: 0;
		}

	nav a {
		    display: block;
		    margin-bottom: 10px;
		    padding: 15px 0;
		    text-align: center;
		    text-decoration: none;
		    font-weight: bold;
		    color: white;
		    width: 70px; 
		}

	nav a:hover,
	nav a:visited { color: white; }

	nav li {
	  background: linear-gradient( rgba(0,128,0, 0.5), rgba(0,128,0, 0.5) 90%, #333 10%, #333 );
	  transition: all 0.2s ease;
	  background-size: 100% 202%;
	}

	nav li:hover { background-position: 100% 100%; }
	nav li:hover a { color: #48ad26; }
	nav li:hover a span { color: white; }
	nav li:hover a {
	  color: #333;
	  text-shadow: 1px 1px 1px white;
	  text-decoration: none;
	}

	@keyframes up-bump {
	  0% { padding-top: 2em; }
	  50% { padding-top: 1.5em; }
	  100% { padding-top: 2em; }
	}

	@keyframes down-bump {
	  0% { padding-top: 2em; }
	  50% { padding-top: 2.5em; }
	  100% { padding-top: 2em; }
	}

	nav li {
	  -webkit-animation-name: down-bump;
	  -webkit-animation-duration: 0.4s;
	  -webkit-animation-timing-function: ease;
	}

	nav li:hover {
	  -webkit-animation-name: up-bump;
	  -webkit-animation-duration: 0.4s;
	  -webkit-animation-timing-function: ease;
	}

/* ============== MOBILE: Main ============== */

	.main { padding: 100px 0 0 0; }

	.main article h1 { font-size: 2em; }

	.main aside {
		    color: white;
		    padding: 0 5% 10px;
		}

	.footer-container footer {
		    color: white;
		    padding: 20px 0;
		}

/* =============== ALL: IE Fixes =============== */

	.ie7 .title { padding-top: 20px; }

/* =============== JSSOR SLIDER STYLES =============== */
    .slides,
    .slide-text,
    .slide-title,
    .caption,
    .caption-image,
    .jssorb21,
    .prototype {position:absolute;}
        
    .slider1_container,
    .slides {
        top: 0; 
        left: 0; 
        width: 1300px; 
        height: 400px; 
        overflow: hidden;
    }

    .slider1_container {
        position: relative; 
        margin: 0 auto;
    }

    .slides { cursor: move; }

	.slide-title,
	.slide-text {
        width: 480px; 
        height: 120px; 
        left: 120px; 
        padding: 5px;
        text-align: left; 
        color: #FFFFFF;
    }

    .slide-title {
        top: 30px; 
        line-height: 60px; 
        text-transform: uppercase; 
        font-size: 50px;
        color: #FFFFFF;
        font-family:'Lobster', cursive;
    }

    .slide-text {
        top: 300px; 
        line-height: 36px; 
        font-size: 30px;
        color: #FFFFFF;
        font-family:'Changa One', cursive;
    }

    .caption                { width: 470px; height: 220px; top: 120px; left: 650px;}
    .caption-image-one      { width: 470px; height: 220px; top: 0; left: 0;}
    .caption-image-two      { width: 379px; height: 213px; top: 4px; left: 45px;}
    .caption-image-three    { width: 379px; height: 213px; top: 4px; left: 45px;}
    .caption-image-four     { width: 257px; height: 300px; top: 80px; left: 200px;}
    .caption-image-five     { width: 379px; height: 213px; top: 4px; left: 45px;}
    /*.jssorb21               { bottom: 26px; left: 6px;}*/
    .prototype              { width: 19px; height: 19px; text-align:center; line-height:19px; color:white; font-size:12px;}
    .jssora21l              { width: 55px; height: 55px; top: 123px; left: 8px;}
    .jssora21r          	{ width: 55px; height: 55px; top: 123px; right: 8px}


/* ========================================================================== Custom styles ========================================================================== */

	/* add width to header */
	.header-container {
		width:100%;
		z-index:1;
	}

	/* update background color */
	.header-container,
	.footer-container,
	.main aside
	 {
		background: rgb(0,128,0); /* The Fallback */
		background: rgba(0,128,0, 0.5); 
		border-color: rgba(0,128,0); /* The Fallback */
		border-color: rgba(0,128,0, 0.8);
	}

	.gravatar-holder {
		width: 150px;
		margin-top: 60px;
		margin:auto;
		margin-top:60px;
	}

	.gravatar-holder img { 
		border-radius: 100px;
		box-shadow: 1px 1px 11px darkgray;
		border-width: 5px;
		border-style: dotted;
		border-color: darkgreen;
 	}

	.area-two article { width: 100%; }

	.area-two h2 { text-align: center; }

	.area-two p {
		width: 70%;
		margin: auto;
	}

	.prog-lang-holder img { width: 200px; }

	.prog-lang-holder .html5-img { width: 285px; }

	.github-ribbon {
		z-index: 2;
		position: relative;
	}

	.music iframe {
		box-shadow: 0 5px 10px #aaa;
	}

	#development:before,
	#music:before,
	#life:before {
		content: "***";
		display: block;
		margin: auto;
		width: 92px;
		font-size: 500%;
		height: 50px;
		top: -20px;
		position: relative;
		text-rendering: optimizeSpeed;
	}

/* ========================================================================== Media Queries ========================================================================== */
	@media only screen and (max-width: 480px) {

			nav,
			.title {
				float:right;
				display: block;
			}

			li {
				width: 23%;
				display: inline-block;
				vertical-align: bottom;
				white-space: nowrap;
			}
	}

	@media only screen and (min-width: 480px) {

		/* ==================== INTERMEDIATE: Menu ==================== */

		    nav a {
			        float: left;
			        /*width: 27%;*/
			        margin: 0 1.7%;
			        padding: 25px 2%;
			        margin-bottom: 0;
			    }

		    nav li:first-child a {
			        margin-left: 0;
			    }

		    nav li:last-child a {
			        margin-right: 0;
			    }

		/* ======================== INTERMEDIATE: IE Fixes ======================== */

			nav ul {
				display:block;
			}

		    nav ul li {
			        /*display: inline;*/
			        display: inline-block;
					white-space: nowrap;
					vertical-align: bottom;
			    }

		    .oldie nav a {
			        margin: 0 0.7%;
			    }
	}
@media only screen and (min-width: 768px) and (max-width: 960px) {
	/*.main article {
			        float: left;
			        width: 57%;
			    }*/
}
	@media only screen and (min-width: 768px)  {

	/* ==================== WIDE: CSS3 Effects ==================== */

		    .header-container,
		    .main aside {
			        -webkit-box-shadow: 0 5px 10px #aaa;
			           -moz-box-shadow: 0 5px 10px #aaa;
			                box-shadow: 0 5px 10px #aaa;
			    }

		/* ============ WIDE: Menu ============ */

		    .title {
			        float: left;
			    }

		    nav {
			        /*width: 48%;*/
			        float: right;
					width: 30%;
					white-space: nowrap;
			    }

		/* ============ WIDE: Main ============ */

		    

		    
	}

	@media only screen and (min-width: 1140px) {

		/* =============== Maximal Width =============== */

		    .wrapper {
			        width: 1026px; /* 1140px - 10% for margins */
			        margin: 0 auto;
			    }
			article {
					width: 50%;
					display: inline-block;
					float:left;
				}
			.main aside {
			        display: block;
					float: right;
					text-align: center;
					vertical-align: top;
			    }
	}

	@media only screen and (max-width: 1140px) {
		h1, h2, h3, h4 {
			text-align: center;
		}

		p {
			width: 70%;
			margin: auto;
		}


		article {
					width: 90%;
					display: block;
					margin:auto;
				}

		.main aside {
		        display: block;
				float: none;
				text-align: center;
				vertical-align: top;
				width: 90%;
				margin:auto;
		    }

		iframe {
			display:block;
			width:100%;
			height:500px;
			margin:10px auto;
		}

		aside iframe {
			height:300px;
		}

		aside img {
			display:block;
			margin: auto;
		}
	}

/* ========================================================================== Helper classes ========================================================================== */

	.ir {
		    background-color: transparent;
		    border: 0;
		    overflow: hidden;
		    *text-indent: -9999px;
		}

	.ir:before {
		    content: "";
		    display: block;
		    width: 0;
		    height: 150%;
		}

	.hidden {
		    display: none !important;
		    visibility: hidden;
		}

	.visuallyhidden {
		    border: 0;
		    clip: rect(0 0 0 0);
		    height: 1px;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    width: 1px;
		}

	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
		    clip: auto;
		    height: auto;
		    margin: 0;
		    overflow: visible;
		    position: static;
		    width: auto;
		}

	.invisible {
		    visibility: hidden;
		}

	.clearfix:before,
	.clearfix:after {
		    content: " ";
		    display: table;
		}

	.clearfix:after {
		    clear: both;
		}

	.clearfix {
		    *zoom: 1;
		}

/* ========================================================================== Print styles ========================================================================== */

	@media print {
	    * {
		        background: transparent !important;
		        color: #000 !important;
		        box-shadow: none !important;
		        text-shadow: none !important;
		    }

	    a,
	    a:visited {
		        text-decoration: underline;
		    }

	    a[href]:after {
		        content: " (" attr(href) ")";
		    }

	    abbr[title]:after {
		        content: " (" attr(title) ")";
		    }

	    .ir a:after,
	    a[href^="javascript:"]:after,
	    a[href^="#"]:after {
		        content: "";
		    }

	    pre,
	    blockquote {
		        border: 1px solid #999;
		        page-break-inside: avoid;
		    }

	    thead {
		        display: table-header-group;
		    }

	    tr,
	    img {
		        page-break-inside: avoid;
		    }

	    img {
		        max-width: 100% !important;
		    }

	    @page {
		        margin: 0.5cm;
		    }

	    p,
	    h2,
	    h3 {
		        orphans: 3;
		        widows: 3;
		    }

	    h2,
	    h3 {
		        page-break-after: avoid;
		    }
	}
/* -------- ------------ */




	

